# Credit Risk Evaluator

In [8]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn import metrics
from sklearn.model_selection import train_test_split

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [2]:
# Import the data
df = pd.read_csv('Resources/lending_data.csv')

In [3]:
df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

*I believe the random forest clasifier will perform better because it is a more sophisticated of the two and tends to work more efficiently when there is less noise in the data*

## Split the Data into Training and Testing Sets

In [5]:
# Split the data into feature and target data
X = pd.DataFrame(df.drop(['loan_status'], axis = 1))

y = pd.array(df['loan_status'])

In [6]:
# Split the data into X_train, X_test, y_train, y_test
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=444)
X_train

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
25906,7700.0,6.401,40800,0.264706,2,0,10800
20193,9600.0,7.188,48200,0.377593,4,0,18200
59422,9100.0,6.987,46300,0.352052,3,0,16300
40775,9900.0,7.312,49400,0.392713,4,0,19400
11607,8700.0,6.809,44700,0.328859,3,0,14700
...,...,...,...,...,...,...,...
72167,10000.0,7.371,50000,0.400000,4,0,20000
50100,8400.0,6.714,43800,0.315068,3,0,13800
36104,10100.0,7.419,50400,0.404762,4,1,20400
25367,9700.0,7.247,48800,0.385246,4,0,18800
23939,9700.0,7.266,49000,0.387755,4,0,19000

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [14]:
# Train a Logistic Regression model and print the model score
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()

logreg.fit(X_train, y_train)

LogisticRegression()

In [15]:
#printing scores
print('Train Accuracy:', logreg.score(X_train, y_train))
print('Test Accuracy:', logreg.score(X_test, y_test))

Train Accuracy: 0.9917457697069748
Test Accuracy: 0.9920037144036319

In [11]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier()

forest.fit(X_train, y_train)

In [13]:
#printing scores
print('Train Accuracy:', forest.score(X_train, y_train))
print('Test Accuracy:', forest.score(X_test, y_test))

Train Accuracy: 0.9971110193974412
Test Accuracy: 0.9926227816756088

*Which model performed better? How does that compare to your prediction? The random forest performed better but only slightly; there is a very small difference between the acurracies of the two models so it seems both work very well in this situtaion.*